workflows/x5r1RRCroiAyt6Au.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-18T20:36:43.139Z",
  "id": "x5r1RRCroiAyt6Au",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Carga erros conhecidos v1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -760,
        -20
      ],
      "id": "a278e6da-674a-42c5-aa01-ceac3c418960",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT\nCASE\n\tWHEN mt.id_seguradora = 672 THEN 'Zurich'\n\tWHEN mt.id_seguradora = 671 THEN 'Cardif'\nEND as seguradora,\n  REGEXP_REPLACE(\n    REGEXP_REPLACE(\n      REGEXP_REPLACE(\n        mt.razao_status,\n        '([0-9]{11})',\n        '***'\n      ),\n      '(CEP\\\\s+)([0-9]{8})',\n      '\\\\***'\n    ),\n    '([0-9]{1,3})\\\\s+anos',\n    '*** anos'\n  ) AS razao_status\nFROM\n  `core-data-streams-prod-database`.movimentos_transacionais mt\nWHERE\n  mt.etapa = 'adesao_csf_sut'\n  -- and mt.id_seguradora = '672' zurich -- 671 cardif\n  AND mt.status = 'critica'",
        "options": {
          "replaceEmptyStrings": true
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -540,
        -20
      ],
      "id": "06bb7bac-dfe8-4ad6-a384-6f3a564da45f",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "5YkbRXBaQCU0hyQs",
          "name": "MySQL Mon"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "erros_conhecidos_dev_12971",
          "mode": "list",
          "cachedResultName": "erros_conhecidos_dev_12971"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "seguradora": "={{ $json.seguradora }}",
            "erro": "={{ $json.razao_status }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "seguradora",
              "displayName": "seguradora",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "erro",
              "displayName": "erro",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_criacao",
              "displayName": "data_criacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data_modificacao",
              "displayName": "data_modificacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -280,
        -20
      ],
      "id": "f21f7b28-1688-4a42-b865-97d43be5b594",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "P09H1er9n2eb0uAq",
          "name": "Postgres Sutlab Mon"
        }
      }
    },
    {
      "parameters": {
        "content": "## Nota\nEsse fluxo gera a carga inicial de erros conhecidos para servir de referencia para o tratamento dos erros não conhecidos"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -760,
        -220
      ],
      "typeVersion": 1,
      "id": "6b5b8531-4e6b-42b1-92d2-9087159e0edd",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-31T18:17:50.521Z",
  "versionId": "e660c71e-ac50-4047-b523-c80912ee0474"
}